/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 14/05/2017, 00:07:40
    Author     : Rafael
*/

.formulario{
    width:100px;
    height:100px;
    position:absolute;
    top:50%;
    left:50%;
    margin-top:-50px;
    margin-left:-50px; /*https://tableless.com.br/centralizando-um-objeto-na-horizontal-e-vertical-com-css/*/
}